name: retail_inventory
description: Retail Store Inventory App

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  provider: ^6.1.2
  sqflite: ^2.4.2
  path: ^1.9.1
  intl: ^0.20.2
  fl_chart: ^0.70.2
  shared_preferences: ^2.3.5
  uuid: ^4.5.1
  pdf: ^3.11.1
  printing: ^5.13.3
  path_provider: ^2.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
